CairoSVG
Pillow
PyGObject
beautifulsoup4
cairocffi
certifi
cffi
charset-normalizer
cssselect2
dbus-python
defusedxml
fritzconnection
haggis
humanize
idna
numpy
pangocairocffi
pangocffi
pip
psutil
pycparser
pyusb
requests
ruamel.yaml.clib
ruamel.yaml
setuptools
soupsieve
tinycss2
urllib3
vext.gi
vext
webencodings
